VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=camping-cf64d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=camping-cf64d
VITE_FIREBASE_STORAGE_BUCKET=camping-cf64d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=820687962490
VITE_FIREBASE_APP_ID=
